<div class="row">
  <div class="col-xs-12">
    <h1>Trending Articles</h1>
    <p>Find something interesting...</p>
  </div>
</div>



<div class="articles-con">
<% @articles.each do |article| %>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 article-preview">
      <div><h2><%= link_to article.title.titleize , article_path(article.id) %></h2></div>
      <div>Written By: <%= article.author %></div>
      <div>
        <% if article.keywords %>
        <span class="article-keywords"><%= article.keywords %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>