<div class="row">
  <div class="col-xs-12">
    <h1>Trending Articles</h1>
    <p>Find something interesting...</p>
  </div>
</div>



<div class="articles-con">
<% @articles.each do |current_article| %>
  <%= render partial: "articles/preview", locals: { article: current_article} %>
<% end %>
</div>